<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- ".WebViewActivity" resolves against this module's namespace -->
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
    </application>
</manifest>
